<nav class="navbar navbar-default">
	<div class="row">
		<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Webshop</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li><a router-link="listArtikel">Unsere Artikel</a></li>
						<li><a href="components/bestellverwaltung/bestellung.html">Warenkorb</a></li>
						<li><a href="components/kundenverwaltung/kunde.html">Alle Kunden</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
			<login></login>
		</div>
	</div>
</nav>
<script>System.import('components/login/login')</script>
